.button {
  padding: 10px;
  border: 1px solid #99E8E2;
  background: transparent;
  border-radius: 0;
  color: #74BAB4;
  transition: .3s;
  flex-grow: 1;
}

.button:not(:last-child) {
  margin-right: 20px;
}

.button:hover {
  background-color: #74BAB4;
  border: 1px solid #74BAB4;
  color: #fff;
}

@media (max-width: 640px) {
  .button {
    width: 100%;
    margin-right: 0;
  }

  .button:not(:last-child) {
    margin-bottom: 20px;
    margin-right: 0;
  }
}
