.summary {
  max-width: 600px;
  margin: 40px auto;
  box-shadow: 0 0 50px 5px rgba(0, 0, 0, .8);
  padding: 40px;
  background: #fff;
}

.summary-date {
  margin-bottom: 40px;
}

.summary-list-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  border-bottom: 1px solid #999;
  padding: 10px 0;
}

.summary-list-header-item {
  flex: 1 1 50%;
}

.summary-list {
  list-style: none;
  padding: 0;
  border-bottom: 1px solid #999;
  margin: 0;
}

.summary-item {
  display: flex;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  justify-content: space-between;
}

.summary-item:last-child {
  border: none;
}

.summary-item:hover {
  color: #74BAB4;
  cursor: default;
}

.summary-name {
  flex: 1 1 50%;
  color: inherit;
  cursor: inherit;
}

.summary-status {
  flex: 1 1 50%;
  color: inherit;
  cursor: inherit;
}
