.card {
  width: 100%;
  max-width: 700px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0 50px 5px rgba(0, 0, 0, .8);
  padding: 80px 80px 180px;
  display: flex;
  flex-flow: column;
  background-image: url('./bg.jpg');
  background-size: cover;
  position: relative;
  margin: 40px 10px;
}

.card-top {
  background-image: url('./top.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 70px;
}

.card-wrap {
  width: calc(100% + 8px);
  position: absolute;
  top: 50px;
  left: -4px;
  background-image: url('./wrap.png');
  height: 360px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
}

.card-header {
  padding-top: 120px;
  font-family: 'VenskisadOne-Medium';
  font-size: 60px;
  margin-bottom: 24px;
  line-height: 60px;
  word-spacing: 10px;
}

.card-text {
  margin-bottom: 40px;
}

.card-details {
  margin-bottom: 40px;
  align-self: flex-end;
}

.card-detail {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.card-detail:last-child {
  margin-bottom: 0;
}

.card-label {
  margin-right: 10px;
}

.card-data {
  width: 230px;
  border-bottom: 1px solid #bbb;
  text-align: right;
}

.card-brackets {
  color: #bbb;
  margin-left: 5px;
}

.card-place-link {
  color: #74BAB4;
  transition: .3s;
  text-decoration: none;
}

.card-place-link:hover {
  color: #E48687;
}

.card-signature {
  font-family: 'VenskisadOne-Medium';
  font-size: 30px;
  text-align: right;
  margin-bottom: 40px;
  word-spacing: 10px;
}

.card-before-buttons {
  margin-bottom: 40px;
}

.card-buttons {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 40px;
}

.card-thanks {
  text-align: right;
  margin-bottom: 20px;
}

.card-bottom {
  background-image: url('./bottom.png');
  background-size: 100%;
  background-position: left bottom;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 400px;
}

.card-separator-one {
  background-image: url('./line_small.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 17px;
  margin-bottom: 40px;
}

.card-separator-two {
  background-image: url('./line_big.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 17px;
  margin-bottom: 60px;
}

@media (max-width: 640px) {
  .card {
    padding: 20px 20px 120px;
    margin: 10px;
  }

  .card-header {
    font-size: 40px;
    line-height: 40px;
  }

  .card-buttons {
    flex-flow: column;
  }

  .card-thanks {
    text-align: center;
  }
}

@media (max-width: 350px) {
  .card-details {
    align-self: stretch;
  }

  .card-detail {
    flex-flow: column;
    justify-content: flex-start;
  }

  .card-label {
    text-align: left;
    margin-bottom: 10px;
  }

  .card-data {
    text-align: left;
    /*width: 100%;*/
  }

  .card-signature {
    text-align: center;
  }
}
