.invite {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /*background-image: url('./bg.jpg');*/
  background-size: cover;
  background-position: center;
}


@media (max-width: 640px) and (orientation: portrait) {
  .invite {
    background-image: url('./bg-mobile.jpg');
  }
}
