@font-face {
  font-family: 'VenskisadOne-Medium';
  src: url('./assets/fonts/VenskisadOne-Medium.woff') format('woff'),
       url('./assets/fonts/VenskisadOne-Medium.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Courier New';
  src: url('./assets/fonts/CourierNewPSMT.woff') format('woff'),
       url('./assets/fonts/CourierNewPSMT.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f3f3f3;
  font-family: "Courier New", "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  color: #7F8182;
  background-color: #000;
}

h1 {
  margin-top: 0;
  margin-bottom: 40px;
}

.home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #74BAB4;
  background-color: rgba(0, 0, 0, 0.5);
}
